.center{
    text-align: center;
}

.pushed{
    margin-left: 20px;
    margin-right: 20px;
    
}


.smooth{
    scroll-behavior: smooth;
}


.black{
    background-color: black;
    color: white;
    border-color: white;
}
